NEXT_PUBLIC_PRIVY_APP_ID=xxxxxxxxxxxx
NEXT_PUBLIC_SIGNATURE_MESSAGE=xxxxxxxxxxxxxxxxxxxxxxxx
PRIVY_APP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx

# Server URLs
# NEXT_PUBLIC_SERVER_URL=http://localhost:8096/api/v0
# NEXT_PUBLIC_SERVER_SOCKET_URL=http://localhost:8096

NEXT_PUBLIC_SERVER_URL=xxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SERVER_SOCKET_URL=xxxxxxxxxxxxxxxxxxxxxxxx


NEXT_PUBLIC_STREAM_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_STREAM_API_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx

# For production, uncomment and update these lines:
# NEXT_PUBLIC_SERVER_URL=https://your-production-server.com
# NEXT_PUBLIC_SERVER_SOCKET_URL=https://your-production-server.com