# PORT=
# NODE_ENV=development
ALLOWED_ORIGINS=


# Redis
REDIS_CONNECTION_URL=

# JWT
JWT_SECRET=
JWT_ACCESS_SECRET=
JWT_ADMIN_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Website
LOGO=
WEBSITE_URL=
SIGNATURE_MESSAGE=

# Database
PG_DATABASE=
PG_USERNAME=
PG_PASSWORD=
PG_PORT=
PG_DIALECT=
PG_HOST=
PG_URL=

MONGODB_URI=


# Emails
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_ADDRESS=

# OAUTH
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=
OAUTH_ACCESS_TOKEN=


# Admin
ADMIN_EMAIL=
SUPER_ADMIN_EMAIL1=


# Stream
STREAM_API_KEY=
STREAM_API_SECRET=

# Doc
DOCUMENTATION_URL=

# Cloudinary
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=